.container-card {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding: 100px;
    flex-direction: row;
    justify-content: flex-start;
}

.card-active {
  transition: 0.4s;
  margin-right: 3rem;
  width: 100%;

}

.card-deactivated {
  width: 100%;
}

.card-active:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.card-deactivated:hover {
  cursor: not-allowed;
}
