<div class="container-input">
    <input class="form-control me-2" type="search" placeholder="Digite o nome da cidade..." aria-label="Search"
        [(ngModel)]="cidade" (keydown.enter)="showWeatherDetails()">
</div>

<div class="container" *ngFor="let tempo of weather">
    <div class="status">
        <div class="temp">
            <span>{{ tempo.current.temp_c }}°</span>
        </div>
        <!----<span>{{ tempo.current.condition.text }}</span>    --> <img class="img"
            src="{{ tempo.current.condition.icon }}" alt="">
    </div>
    <div class="vento">
        <span>Velocidade do vento: {{ tempo.current.wind_kph }} km/h </span>
        <span>Umidade: {{ tempo.current.humidity }}% </span>
    </div>
</div>